NOTE =  ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____

OWNER_NUMBER="93786680898"
SESSION_ID = "SESSION_85_23_59_01_kjgfgfclhj"
THUMB_IMAGE = "https://i.imgur.com/JZ6OzZC.jpeg"
OWNER_NAME = "Nabesof"
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = "false" 
MODE = "private"
ANTILINK_VALUES = "all
          




